<div class="container">
  <div class="row">
    <div class="col-6">
		<mat-form-field>
			<mat-select placeholder="Select contract" [(ngModel)]="contractSelected" required>
        <mat-option value="FF">Fugue Foundation</mat-option>
			  <mat-option value="Board">Board of Directors</mat-option>
			  <mat-option value="Token">Fugue Token</mat-option>
			</mat-select>
		</mat-form-field>
    </div>

    <div class="col-6">
      <p>Account: {{account}}</p>
      <app-messages></app-messages>
    </div>
  </div>
</div>

<ff *ngIf="contractSelected == 'FF'"></ff>
<board *ngIf="contractSelected == 'Board'"></board>
<token *ngIf="contractSelected == 'Token'"></token>