<div class="container">
  <div class="row">
    <div class="col-12">
      <img src="../../assets/images/logo_150.png" alt="Fugue Foundation" style="float:left;margin:1.5%;"/>
  		<p>
  		The mission of the Fugue Foundation is to alleviate poverty by utilizing decentralized, distributed ledger technology (blockchain). We achieve this goal through two means: direct giving and education. First, we identify impoverished individuals through a vetting process and guidance from local charitable organizations while simultaneously working with community businesses to enable blockchain-based payment methods. As a result, donors are empowered to directly contribute cryptocurrencies (such as bitcoin and ether) to the well-being of the person in need. Second, we aspire to locate underprivileged individuals with a hunger for knowledge of emerging technologies and provide them with grants, tuition payments, and appropriate resources to receive training on open source, blockchain-oriented projects in an effort to have them gain lasting employment.
  		</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>For instructions on how to interact with this decentralized application and how you can help develop this open source project, please visit our <a href="https://github.com/fuguefoundation/nonprofit" class="ffLink" target="_blank">Github repository</a>.</h2>
      <p>Read our <a href="https://fuguefoundation.github.io" class="ffLink" target="_blank">prospectus</a> | Join our <a href="http://eepurl.com/dopIev" class="ffLink">mailing list</a> | info [at] fuguefoundation [.] org</p>
    </div>
  </div>
</div>




